html {
    font-size: 62.5%;
}
  
  body {
    margin: 0;
    height: auto;
    font: 300 11px/1.4 sans-serif;
    background: #a2ecff;
    overflow: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .page{
    width: auto;
    height: auto;
    position: absolute;
    }

.top-tags{
    bottom: auto;
    top: 45px;
}

.tags{
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18vw;
    font-family: 'La Belle Aurore';
}

.bottom-tag-html{
    margin-left: -20px;
}

  /* Fonts */
  @font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/helvetica-neu.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'La Belle Aurore';
    src: url('./fonts/LaBelleAurore.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Coolvetica';
    src: url('./fonts/CoolveticaRg-Regular.woff2') format('woff2');
  }
  /* Fonts */

.home-page{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
        
    h1{
        color: #000000;
        font-size: 40px;
        margin: 0;
        font-family: "Audiowide", sans-serif;
        font-weight: 250;
        text-shadow: 3px 3px 3px #0000005c;
        animation: fadeInDown 2s;
    }

    h1::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            font-weight: 500;
            color: #00b7ff;
            font-size: 25px;
            position: absolute;
            margin-top: 15px;
            margin-left: -50px;
            animation: fadeInRight 2s;
    }

    h1::after {
            content: '</h1>';
            font-family: 'La Belle Aurore';
            font-weight: 500;
            color: #00b7ff;
            font-size: 25px;
            position: absolute;
            margin-top: 18px;
            margin-left: 10px;
            animation: fadeInLeft 2s;
    }
    

    h2 {
        color: #000000;
        margin-top: 20px;
        font-family: "Trirong", serif;
        font-size: 15px;
        font-weight: 750;
        letter-spacing: 3px;
        text-shadow: 3px 3px 3px #0000005c;
        animation: fadeInUp 2s;

        &::before {
            content: '<h2>';
            font-family: 'La Belle Aurore';
            font-weight: 500;
            color: #00b7ff;
            font-size: 15px;
            position: absolute;
            margin-top: 2px;
            margin-left: -50px;
            animation: fadeInRight 2s;
        }

        &::after {
            content: '</h2>';
            font-family: 'La Belle Aurore';
            font-weight: 500;
            color: #00b7ff;
            font-size: 15px;
            position: absolute;
            margin-top: 3px;
            margin-left: 10px;
            animation: fadeInLeft 2s;
        }
    }

    .flat-button {
        color: #ffd700;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 2px solid #ffd700;
        margin-top: 25px;
        float: left;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    }
}

/* Navigation Bar */

.nav-center{
    margin: auto;
    width: auto;
    padding-top: 25px;

}
.nav-bar{
    width: 100%;
    margin: auto;
    position: relative;
    
    nav{
        display: inline-flex;
        text-align: center;
        justify-content: space-evenly;
        position: relative;
        top: 50%;
        width: 100%;
        box-shadow: 2px #000000;

        a{
            font-family: 'Helvetica Neue';
            font-size: 20px;
            font-weight: 750;
            text-shadow: 2px 2px 2px #00000050;
            color: #ffffff;
            display: block;
            line-height: 50px;
            height: 50px;
            position: relative;
            text-decoration: none;
            width: 100px;

            i{
                transition: all -0.3s ease-out;
            }

            &:hover {
                font-weight: 1000;
                color: #ffd700;
                svg{
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3 ease-out;
            }
        }
        a.active{
            font-weight: 1000;
            text-decoration: underline;
            color: #ffd000;
        }
    }
}
    ul{
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;
        

        li{
            a{
                padding: 10px 0;
                display: block;
                font-family: 'La Belle Aurore';
                font-size: 20px;
                line-height: 16px;

                &:hover {
                    color: #ffd700;
                }
            }
        }
    }

/* Navigation Bar */

@keyframes fadeInAnimation{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

@keyframes fadeIn{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translate3d(0,40px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes fadeInRight{
    from{
        opacity: 0;
        transform: translate3d(-40px,0,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes fadeInLeft{
    from{
        opacity: 0;
        transform: translate3d(40px,0,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes fadeInDown{
    from{
        opacity: 0;
        transform: translate3d(0,-40px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}